---
layout: default
---

<!-- % for post in site.posts % -->
<div class="container">

  {% if site.posts.size > 0 %}
    {% for post in paginator.posts %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h2>
        <div class="article__meta">
          <span class="article__date">Published <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
        </div>
        <p class="article__excerpt">
          {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 180 }}
          {% endif %}<a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Continue reading</a></p>
        
      </div>
    </div>
    {% endfor %}
  {% endif %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="pag prev_pag">
        &#60;&#60; Newer posts
      </a>
    {% else %}
      <span class="pag_empty"></span>
    {% endif %}
    <span class="page_number">
      {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="pag next_pag">Older posts &#62;&#62;</a>
    {% else %}
      <span class="pag_empty"></span class="pag_empty">
    {% endif %}
  
</div>
