.wrapper-page {
  margin-top: 50px;
  margin-bottom: 50px;
  @media only screen and (max-width: $mobile) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.body_wrapper
{
  width: 50%;
  margin: auto;
  background-color: #FFF;
  opacity: 0.95;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 1px #ccc;
}

@media (max-width: $bigdesktop) {
  .body_wrapper {
    width: 80%;
  }
}

@media (max-width: $tablet) {
  .body_wrapper {
    width: 90%;
  }
}

@media (max-width: $mobile) {
  .body_wrapper {
    width: 100%;
  }
  .body_wrapper, .header {
    margin-top: 0px !important;
  }
}

