---
layout: default
---

<div class="container">
  <!-- begin page -->
  <article class="page">

    <!-- <div class="page__head" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
      <h1 class="page__title">{{ page.title | escape }}</h1>
      {% if page.image %}
      <div class="page-image" style="background-image: url({{site.baseurl}}{{page.image}})"></div>
      {% endif %}
    </div> -->

    {% if page.include_author %}
    <div class="container">
      <!-- begin author -->
      <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
        <div class="author__inner">
      <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
          <h1 class="author__job">{{ site.author.job }}</h1>
          <p class="author__bio">{{ site.author.bio }}</p>
          <div class="author__more">
            <a href="mailto:{{site.author.email}}?subject=Hello%20%F0%9F%91%8B" class="say-hello">
              <i class="fas fa-envelope"></i>&nbsp;
              Contact
            </a>
            <a href="/assets/file/resume.pdf" class="say-hello">
              <i class="fa fa-file"></i>&nbsp;
              Resume
            </a>
            <!-- <a href="{{site.baseurl}}/about/" class="know-more">Know More</a> -->
          </div>
        </div>
      </section>
      <!-- end author -->
    </div>
    {% endif %}
    

    <div class="page__content" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-delay="100" data-aos-duration="700">
    {{ content }}
    </div>

  </article>
  <!-- end page -->
</div>
